
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;

}
button {
    margin: 5px;
}
select {
    margin: 5px;
}
.controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0;
    border-bottom: 1px solid #ccc;
}

.controls > * {
    font-size: 14px;
}

#lockButton {
    padding: 0;
    margin: 0;
    border: none;
    width: 10px;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 1px;
    margin-right: 5px;
}

/*dropdown style modified to put the drop arrow on the right*/
#fileDropdown {
    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    padding: 5px 0;
}

#fileDropdown:after {
    right: 0 !important;
    color: black !important;
}

option:is(:disabled) {
    color: #ccc;
}

option:is(selected) {
    color: #ccc;
}

option {
    color: black;
}

.visualizer {
    /* width: 100%; */
    grid-gap: 10px;
    background-color: white;
    position: relative;
    overflow-x: scroll;
}

/*auto sized by children*/
#video_container {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    min-width: calc(100% - 20px);
    padding: 10px;
}

/*reversed*/
.asset_container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.asset_container > * {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.clip {
    background-color: lightyellow;
}

.image {
    background-color: thistle;
}

.text {
    background-color: lightgreen;
}

.transition {
    background-color: lightcoral;
}

.audio {
    background-color: lightblue;
}


.loading-spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Masquer le contenu principal pendant le chargement */
.loading .visualizer {
    display: none;
}

.loading .loading-spinner {
    display: block;
}