vidium-ml/node_modules/
/vidium-ml/out/
.venv
api_sample/videos_sample/*
vmlenv
vmlenv/*
vidium-ml/generated_video/*
vidium-ml/generated/*
api_sample/video_sample/*
.idea
venv
vidium-ml/src/language-server/generated/*
vidium-ml/src/client_secrets.json
vidium-ml/src/client_oauth_token.json